header {
    background-color: #0F172A; /* لون خلفية الهيدر */
    color: #6989A4; /* لون النص في الهيدر */
    padding: 0px 0; /* تباعد داخلي للهيدر */
    margin-left: 0;
    
    border-radius :25px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    
    
}
body header nav a{
    margin-right: 10px;
    
    width: 90px;
    height: 90px;
}
header nav{
    width: max-content;
    
}

header nav{
    margin-top: 0;
    border-top: 0;
    margin-right: 0;
}

body {
    
    
    /* background-image: url('BackGround.png');*/
    background-color: #CBD5E1;
    background-size: cover; /* تغطية الصورة على كامل الشاشة */
    /*background-position: center;  وضعية الصورة في الوسط */
     /* عدم تكرار الصورة */
}

.container {
    
   /* width: 20%;  عرض الهيدر */
    margin: 0 auto;  /*لتوسيط الهيدر في الصفحة */
    display: flex; /* استخدام تخطيط مرن */
    justify-content: space-between; /* توزيع العناصر بالتساوي على طول المسافة الأفقية */
    /*align-items: center;  توسيط العناصر عموديًا */
}

.logo {
    cursor: pointer;
    width: 100%; /* عرض الشعار */
    height: 100%; /* للحفاظ على نسب الأبعاد */
    margin-right: 0;
    padding: 0;
    }
nav{
    margin-left: 20px;
    margin-right: 80px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding : 10px 0;
}

nav ul {
    margin-left: 10px;
    list-style-type: none; /* إزالة نقاط القوائم */
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    padding-right: 1px;
}

nav ul li {
    display: inline-block; /* عرض العناصر جنبًا إلى جنب */
    margin:10px 20px; /* تباعد بين العناصر */
}
.container li{
    text-decoration-color: #0a1014;
}
nav ul li a {
    color: #fff; /* لون الروابط */
    text-decoration: none; /* إزالة التأثيرات النصية الافتراضية */
}
.navHeader{
    background-color: #0F172A;
}


.Box-Text {
    background-color: #0F172A;
    text-align: right;
    border-radius: 25px;
    width: 750px;
    height: fit-content;
    margin-top: 35px;
    margin-left: 400px;

}
.Box-Text h1 {
    color:#F6F5F5; /* لون النص لعنصر h1 داخل .Box-Text */
}

.Box-Text h2 {
    color:#F6F5F5; /* لون النص لعنصر h2 داخل .Box-Text */
}

.Box-Text p {
    color: #F6F5F5; /* لون النص لعنصر p داخل .Box-Text */
}

.Box-Text a {
    color: #F6F5F5; /* لون النص لعنصر a داخل .Box-Text */
}
.Box-Text {
    flex: 1; /* ينمو الBox-Text ليملأ المساحة المتبقية */
    padding: 20px; /* تباعد داخلي للعنصر */
}



